{% extends 'base.html' %}

{% block content %}

<div>
    <p>팔로워</p>
    {% if target_user.followers.exists %}
    {% for user in target_user.followers.all %}
    {{ user.username }}
    {% endfor %}
    {% else %}
    <p>팔로우 하는 유저가 없습니다.</p>
    {% endif %}
</div>
<div>
    <p>팔로잉</p>
    {% if target_user.following_users.exists %}
    {% for user in target_user.following_users.all %}
    {{ user.username }}
    {% endfor %}
    {% else %}
    <p>팔로우 중인 유저가 없습니다.</p>
    {% endif %}
</div>

{% endblock %}