<!-- Template language의 for 구문을 사용해서 각 Post의 photo 항목을 출력 -->
<!-- .photo속성의 'url' 속성을 사용해서 img태그를 사용 실제 이미지를 보여주기 -->

<!-- 1. 사진 업로드하기-->
<!-- 2. 사진에 댓글달기-->
<!-- extra1) urls.py 모듈을 post애플리케이션 내부에 생성하고
               include를 이용해서 root.urls-->
{% extends 'base.html' %}

{% block content %}

<div>
    <div>
        {% for post in posts %}
        <a href="{% url 'post_detail' post_pk=post.pk %}">
            <img src="{{post.photo.url}}" width=75% height=75% alt="">
        </a>
        {% endfor %}
    </div>
</div>
<div>
    <button>
        <a class="btn btn-default btn-sm btn-back-list btn-write " href="{% url 'post_create' %}">글 작성</a>
    </button>
</div>

{% endblock %}

